{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">Time to workout</p>
  <hr />
  <ul>
    {% for e in e %}
      <li>{{ e.equipment }}</li>
    {% endfor %}
  </ul>
  <form method="post" action="{% url 'home' %}">
    {% csrf_token %}
      
    {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Submit</button>


  </form>
</div>
{% endblock content %}
